<!DOCTYPE html>
<html>
<body>

<form method="post" action="/submit/" enctype="multipart/form-data">
    {% csrf_token %}

    Name:
    <input type="text" name="name"><br><br>

    Email:
    <input type="email" name="email"><br><br>

    Age:
    <input type="number" name="age"><br><br>

    Branch:
    <select name="branch">
        <option value="CSE">CSE</option>
        <option value="ECE">ECE</option>
        <option value="ME">ME</option>
        <option value="CE">CE</option>
        <option value="EE">EE</option>
    </select><br><br>

    Image:
    <input type="file" name="image"><br><br>

    <input type="submit" value="Submit">

</form>

</body>
</html>
