{% extends "base.html" %}

{% block content %}

    <h1 class="mb-3">Enrolled Students</h1>
    
    <hr style="border-top: 5px solid black; margin-bottom: 30px;">

    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Email</th>
                <th>Course</th>
            </tr>
        </thead>
        <tbody>
            {% for s in students %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ s.name }}</td>
                <td>{{ s.email }}</td>
                <td>{{ s.course }}</td>
            </tr>
            {% else %}
            <tr>
                <td colspan="4" class="text-center text-muted">No students found in database.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}